<style media="screen">
  #active {
    color: #000 !important;
  }
  #active:hover {
    color: #fff !important;
  }
  .item.five {
    padding: .92857143em 0.14285714em !important;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
</style>

<div class="ui padded grid" style="height: 100vh">
  <div class="one wide black column" style="padding: 0">
    <div class="ui inverted vertical fluid labeled icon tabular menu" style="height: 100%">
      <a class="item five" data-cmd="me"><i class="user circle outline icon"></i>{{me}}</a>
      <a class="item five" data-cmd="search"><i class="search icon"></i>{{search}}</a>
      <a class="item five" data-cmd="trends"><i class="fire icon"></i>{{trends}}</a>
      <a class="item five" data-cmd="lasts"><i class="hourglass start icon"></i>{{lasts}}</a>
      <a class="item five" data-cmd="logout"><i class="power start icon"></i>{{logout}}</a>
    </div>
  </div>
  <div class="fifteen wide stretched column">

  </div>
</div>
